<hr>
<h3>Available cars</h3>
From <%= @booking.start_time %> till <%= @booking.end_time %>
<% @cars.each do |car| %>
	<% @booking.car = car %>
	<% if available_car = @booking.check_availability %>
		<div class="container">
			<h2><%= link_to available_car.name, car_path(available_car) %></h2>
			<ul class="listing">
				<li>category: <%= available_car.category %></li>
				<li>price per day: <%= available_car.price %></li>
				<li><%= available_car.description %></li>	
			</ul>
		</div>
		<div class="container">
			<div class="btn-group">
				<%= link_to "Book it", car_path(car), class: 'btn btn-default btn-sm'  %>
			</div>
		</div>
	<% end %>
<% end %>