<h1>Rent a car</h1>
<h5>Check which cars are available</h5>
<hr>

<%= form_tag({action: 'search_results'}, remote: true, :'data-update-target' => 'update-container') do %>	
	<%= label_tag 'Start time' %>
	<%= date_field_tag 'start_time', Date.today(), class: 'textinput', min: Date.today() %>
	<%= label_tag 'Number of days' %>
	<%= number_field_tag 'length', nil, class: 'textinput', min: 1 %>
	<%= submit_tag 'Check it', disable_with: 'Please wait...', class: 'submit' %>
<% end %>

<div id="update-container">
</div>