<h3> Bookings for <%= @car.name %></h3>  
<% @bookings.each do |booking| %>
  <ul class="listing">
    <li><%= booking.client %></li>
    <li><%= booking.start_time %> - <%= booking.end_time %></li>
  </ul>
  <div class="btn-group">
    <%= link_to "Show", car_booking_path(@car, booking), class: 'btn btn-default btn-sm' %>
    <%= link_to "Cancel", car_booking_path(@car, booking), method: :delete, class: 'btn btn-default btn-sm' %>    
  </div>
<% end %>

