<h3>Booking Confirmation</h3>
<hr>
<ul class="listing">
	<li>client: <%= @booking.client %></li>
	<li>car: <%= @booking.car.name %></li>
	<li>from: <%= @booking.start_time %> til: <%= @booking.calculate_end_time %> </li>
	<li>cost: <%= @booking.cost %></li>
</ul>

 