<h3>Booking Confirmation</h3>
<hr>
<ul class="listing">
	<li>client: <%= @booking.client %></li>
	<li>car: <%= @booking.car.name %></li>
	<li>from: <%= @booking.start_time %> til: <%= @booking.calculate_end_time %> </li>
	<li>cost: <%= @booking.cost %></li>
</ul>

<div class="container">
	<div class="btn-group">
	<%= link_to "Cancel", car_booking_path(@car, @booking), method: :delete, class: 'btn btn-default' %>
	<%= link_to "Back", car_path(@car), class: 'btn btn-default' %>
	</div>
</div>