<h1>Listing rentings</h1>

<% @rentings.each do |renting| %>
	<h2>Renting #<%= renting.id %></h2>
	<ul class="listing">
		<li>Client: <%= renting.client %></li>
		<li>From <%= renting.start_date %> to <%= renting.finish_date %></li>
		<li><%= link_to "Car # #{renting.car_id}", car_path(renting.car) %></li>		
		<li>Total cost: <%= renting.cost %></li>
		<li>
			<%= link_to "Cancel", renting_path(renting), method: :delete, class: "btn btn-default btn-sm" %>
		</li>
	</ul>
<% end %>



