<div class="container">
	<h2><%= @car.name %></h2>
	<ul class="listing">
		<li>category: <%= @car.category %></li>
		<li>price per day: <%= @car.price %></li>
		<li><%= @car.description %></li>
	</ul>
</div>

<div class="container">
	<div class="btn-group">
		<%= link_to "Edit", edit_car_path(@car), class: 'btn btn-default btn-sm'  %>
		<%= link_to "Destroy", car_path(@car), method: :delete, class: 'btn btn-default btn-sm'  %>
		<%= link_to "Bookings", car_bookings_path(@car), class: "btn btn-default btn-sm" %>
	</div>
</div>
<hr>

<div class="container">
	<h2>Book it</h2>
	<%= render 'shared/booking_form' %>
</div>

<hr>

<div class="calendar_container">
  <div id="calendar">
  </div>
</div>


